mat-form-field
{
    width:250px;
    margin-left:50px; 
    margin-top:10px;
}

mat-sidenav-container,mat-sidenav-content,mat-sidenav
{
    height: 100%;
}
mat-sidenav
{
    width: 200px;
}

a:hover
{
    color:palegreen;
}
a:active
{
    color:palevioletred;
}

.navigation-items
{
list-style: none;
padding: 0%;
margin: 0%;
}

.listItemStyles
{
    display: inline-block;
    padding-left: 6px;
}
